.body {
    padding: 0px;
    margin: 0px;

    background-color: #212428;
}

* {
    outline: none;
}

.wrapper {}

.header {
    background: #212428;
    padding: 10px;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.17);
}

.header__menu {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1318px;
    margin: 0px auto;
    padding: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 340px;
}

.header__logo-txt {
    font-size: 40px;
    font-weight: 700;
    color: #FF014F;
    max-width: 105px;
}

.header__logo-content {}

.header__form {}

.header__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 170px;
    height: 25px;
    background-color: #343842;
    padding: 10px;
    border-radius: 20px;
}


.header__input-search {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    border: 0px;
    width: 100%;
    max-width: 130px;
    background-color: #343842;
    color: white;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}


.header__picture {}

.header__input-icon {
    width: 18px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 850px;

    display: none;
}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

.header__li {
    padding: 0px 10px 0px 10px;
}

.header__li-href {
    color: #626770;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s;
}

.header__li-href:hover {
    color: #E2E2E3;
    transition: all 0.4s;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.header__button-create {
    border: 1px solid #FF014F;
    height: 50px;
    width: 107px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 20px;
    background: none;

}

.header__button-wallet {
    height: 50px;
    width: 197px;
    border-radius: 30px;
    font-size: 20px;
    border: 0px;
    background-color: #FF014F;
    color: #FFFFFF;
}

input::placeholder {
    color: #C4CFDE;
}


.menu-btn {
    width: 50px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn span {
    width: 40px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF014F;
    transition: all 0.5s;

    border-radius: 5px;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
}


@media (max-width: 768px) {
    .header__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: auto;
    }

    .header__menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .header__form {
        padding: 10px;
    }

}
