@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-Medium.eot');
    src: local('☺'), url('fonts/THICCCBOI-Medium.woff') format('woff'), url('fonts/THICCCBOI-Medium.ttf') format('truetype'), url('fonts/THICCCBOI-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-ExtraBold.eot');
    src: local('☺'), url('fonts/THICCCBOI-ExtraBold.woff') format('woff'), url('fonts/THICCCBOI-ExtraBold.ttf') format('truetype'), url('fonts/THICCCBOI-ExtraBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}



.body {
    font-family: 'THICCCBOI';
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

.wrapper {}

.header {}

.header__container {
    max-width: 1320px;
    margin: 0px auto;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {}

.header__picture {
    display: flex;
    flex-direction: column;
}

.header__logo-img {
    width: 100%;
    max-width: 33px;
    padding: 10px;
}

.header__list {
    max-width: 508px;
}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    max-width: 508px;
}

.header__li {
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    max-width: 75px;
}

.header__li-href {
    text-decoration: none;
    color: #1B1C23;
    transition: all 0.2s;
}

.header__li-href:hover {
    color: #FF694B;
    transition: all 0.2s;
}

.header__buttons {
    display: flex;
    justify-content: end;
    padding: 10px;
    align-items: center;
}

.header__buttons_active {
    display: flex;
    align-items: start;
}

.header__button-order {
    min-height: 60px;
    min-width: 167px;
    color: #FFFFFF;
    border: 0px;
    background: #FF694B;
    font-size: 18px;
    font-family: 'THICCCBOI';
    padding: 10px;
    box-shadow: 0px 12px 30px rgba(255, 105, 75, 0.35);
    transition: all 0.5s;

    position: relative;
    overflow: hidden;
    transition: all 0.4s;

    margin: 5px;
}

.header__button-order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    min-height: 70px;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.header__button-order:hover::before {
    content: '';
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(0%);
    transition: all 0.5s;
}

.header__button-order:hover {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0);
    transition: all 0.4s;

}

.header__button-span {
    position: relative;
    z-index: 2;
}

.header__burger {
    display: none;
}

@media (max-width: 798px) {
    .header__buttons {
        min-width: 230px;
    }

    .header__burger {
        display: block;
    }

    .header__buttons {
        display: flex;
        justify-content: space-between;
    }

    .header__list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4756DF;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
        z-index: 3;

        transform: translateY(-100%);
        transition: all 0.5s;
    }

    .header__ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        text-align: center;
        max-width: 100%;
        padding-top: 110px;
    }

    .header__li {
        padding: 0px;
        max-width: 100%;
        padding-top: 10px;
    }

    .header__li-href {
        color: white;
        font-size: 36px;
        font-weight: 700;
    }

    .header__menu {
        display: flex;
        flex-wrap: nowrap;
        padding: 0px;
    }

    .header__button-order {
        box-shadow: none;
    }

    .header__burger {
        z-index: 3;
    }
}

.header__burger {}

.menu-btn {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn span {
    width: 40px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.584));
    transition: all 0.5s;
    border-radius: 5px;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 9px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 9px);
}

.menu-btn.active span:nth-of-type(1) {
    width: 0px;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header__list_active {
    transform: translateY(0%);
    transition: all 0.5s;
}

.menu-btn.active span {
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.body_active {
    overflow: hidden;
}

.header__buttons-container {
    display: flex;
    flex-wrap: wrap;
}


.header__section {}

.header__banner {}

.banner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.banner__content {
    max-width: 100%;

}

.banner__txt-body {
    max-width: 100%;
}

.banner__short-txt {
    font-size: 18px;
    color: #FF694B;

    display: flex;
    align-items: center;
    max-width: 371px;
}

.create-line {
    background-color: #FF694B;
    width: 50px;
    height: 1px;
    margin: 10px 10px 10px 0px;
}

.banner__span {}

.banner__title {
    color: #1B1C23;
    font-size: 70px;
    font-weight: 700;
    max-width: 600px;

    margin-top: 10px;
}

.banner__subtitle {
    font-size: 25px;
    color: #757683;
    max-width: 450px;

    margin-top: 10px;
}

.banner__buttons {
    margin-top: 30px;
}

.banner__button-href {
    display: flex;
    align-items: center;
    color: #1B1C23;
    text-decoration: none;
    flex-wrap: wrap;
    width: 300px;
}

.banner__button-background {
    background-color: #1B1C23;
    width: 40px;
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 15px;
    margin-right: 15px;
    transition: all 0.3s;
}

.banner__button-background:hover {
    background-color: #0011aa;
    transition: all 0.3s;
    transform: translateY(-3px);
}

.header__picture {}

.banner__button-img {
    width: 100%;
    max-width: 14px;
    padding: 10px;
}

.banner__button-txt {
    max-width: 150px;
    font-size: 18px;
}

.banner__txt {
    font-size: 14px;
    color: #757683;
    max-width: 321px;

    border-top: 1px solid #C8C8C8;
    margin-top: 30px;
    padding-top: 10px;
}

.banner__image {
    display: flex;
    position: relative;
    align-items: center;
}

.banner__img {
    width: 100%;
    max-width: 689px;
}

@media (max-width: 701px) {
    .banner__short-txt {
        font-size: 16px;
    }

    .banner__title {
        font-size: 47px;
    }

    .banner__subtitle {
        font-size: 18px;
    }

    .create-line {
        width: 30px;
    }

    .banner__txt {
        display: none;
    }

}

@media (max-width: 1261px) {
    .banner__image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}

.banner__image-content {
    transform: translateY(60px);
    padding: 10px 0px 10px 10px;
}

.banner__image-text {}

.banner__image-short-title {
    color: #757683;
    font-size: 16px;

    display: flex;
    align-items: center;
    max-width: 300px;
}

.baneer__image-create-line {
    width: 35px;
    height: 1px;
    background: #757683;

    margin-right: 7px;
}

.banner__span {}

.banner__image-title {
    font-size: 22px;
    margin-top: 5px;
    width: 300px;
}

.weight {
    font-weight: 700;
}

.banner__image-href-body {
    margin-top: 10px;
    max-width: 290px;
}

.banner__image-href {
    color: #FF694B;
    font-size: 18px;
}

@media (max-width: 1124px) {
    .banner__image-content {
        transform: translateY(0px);
        padding: 10px 0px 10px 10px;
        align-self: start;
    }

    .banner__image {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .banner__image-content {
        align-self: start;
        padding: 20px 0px 0px 0px;
    }
}